<p>Click to view full resolution.</p>

<div class="gallery">

% for img in images:
  <figure class="gallery-elem">
    % if 'video' in img:
        <a href="/static/Img/${base}/${img['video']}">
            <img
                src="/static/Img/${base}/${img['video']}.jpg"
                % if 'alt' in img:
                    alt="${img['alt']}"
                % else:
                    alt="Video Thumbnail"
                %endif
            />
        </a>
    % else:
        <a href="/static/Img/${base}/${img['file']}">
            <img
                src="/static/Img/${base}/${img['file']}"
                % if 'alt' in img:
                    alt="${img['alt']}"
                % else:
                    alt="${img['caption']}"
                %endif
            />
        </a>
    % endif
    <figcaption>
        ${img['caption']}
    </figcaption>
  </figure>
% endfor

</div>
