<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="${desc}" />
  <link rel="canonical" href="${fullURL}" />
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <title>${title}</title>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@qeamlbackup" />
  <meta property="og:title" content="${title}" />
  <meta property="og:description" content="${desc}" />
  <meta property="og:url" content="${fullURL}" />
  <meta property="og:image" content="https://qeaml.github.io/static/logo-small.png" />
</head>
<body>
<%include file="header.html"/>
<main>
${body}
</main>
<%include file="footer.html"/>
</body>
</html>
